#header #auth a {
    color: #fff; }


#branding {
padding: 0 10px;
}

div#branding h1 a{
    background:url("../images/coffee.png") no-repeat 100% 50%;
    height:70px;
    color:#fff;
    float:left;
    margin: 0;
}

/* align in the middle of the unicef blue stripe of header bg, and
 * display logo on the right. TODO: extract the unicef branding */
#branding h1 {
background: url("../images/unicef-logo.png") no-repeat 100% 50%;
height: 65px;
color: #fff;
margin: 0;
}

.form th{

    border: None;
    font-weight: bold;
    padding-top: 9px;
}

.form th, .form td {
    line-height: 13.5px;
    padding: 10px 10px 9px;
    text-align: left;
    vertical-align: middle;
}
}
ul.tabs{
    float:right;
}
.topbar .custom_fill
{
    background-color: #cccccc;
  background-color: #cccccc;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc));
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc);
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc);
  background-image: -o-linear-gradient(top, #cccccc, #cccccc);
  background-image: linear-gradient(top, #cccccc, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#cccccc', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
