#header #auth a {
    color: #fff; }


#branding {
padding: 0 10px;
}

div#branding h1 a{
    background:url("../images/coffee.png") no-repeat 100% 50%;
    height:70px;
    color:#fff;
    float:left;
    margin: 0;
}

/* align in the middle of the unicef blue stripe of header bg, and
 * display logo on the right. TODO: extract the unicef branding */
#branding h1 {
background: url("../images/unicef-logo.png") no-repeat 100% 50%;
height: 65px;
color: #fff;
margin: 0;
}

ul.tabs{
    float:right;
}
