#auth{
    float:right;
}


#header {
    background: url("../images/header-bg.png") repeat-x;
    padding-top: 23px;
    padding-bottom: 33px;
    position: relative;
    color: #ccf;
}



#header #auth a {
    color: #fff; }


#branding {
padding: 0 10px;
}

/* align in the middle of the unicef blue stripe of header bg, and
 * display logo on the right. TODO: extract the unicef branding */
#branding h1 {
background: url("../images/unicef-logo.png") no-repeat 100% 50%;
height: 65px;
color: #fff;
margin: 0;
}

* html #branding h1 {
    width: 940px; }

#branding h1 a {
    height: 65px;
    width: 245px;
    display: block;
   

    /* float the RapidSMS logo, in case any app would like to
     * append anything to the light blue (empty) stripe */
    float: left;
}

#branding h1 a:hover {
    height: 65px;
    width: 245px;
    display: block;
    float: left;
}
#branding h1 a span{
    padding: 5px;
    color: white;
}

    