[submodule "coffeeclub_project/rapidsms"]
	path = coffeeclub_project/rapidsms
	url = git://github.com/unicefuganda/rapidsms.git
[submodule "coffeeclub_project/rapidsms_script"]
	path = coffeeclub_project/rapidsms_script
	url = git://github.com/unicefuganda/rapidsms-script.git
[submodule "coffeeclub_project/rapidsms_contact"]
	path = coffeeclub_project/rapidsms_contact
	url = git://github.com/unicefuganda/rapidsms-contact.git
[submodule "coffeeclub_project/rapidsms_polls"]
	path = coffeeclub_project/rapidsms_polls
	url = git://github.com/unicefuganda/rapidsms-polls.git
[submodule "coffeeclub_project/rapidsms_generic"]
	path = coffeeclub_project/rapidsms_generic
	url = git://github.com/unicefuganda/rapidsms-generic.git
[submodule "coffeeclub_project/rapidsms_auth"]
	path = coffeeclub_project/rapidsms_auth
	url = git://github.com/unicefuganda/rapidsms-auth.git
[submodule "coffeeclub_project/rapidsms_status160"]
	path = coffeeclub_project/rapidsms_status160
	url = git://github.com/unicefuganda/rapidsms-status160.git
[submodule "coffeeclub_project/rapidsms_httprouter_src"]
	path = coffeeclub_project/rapidsms_httprouter_src
	url = git://github.com/unicefuganda/rapidsms-httprouter.git
[submodule "coffeeclub_project/rapidsms_uganda_common"]
	path = coffeeclub_project/rapidsms_uganda_common
	url = git://github.com/unicefuganda/rapidsms-uganda-common.git
[submodule "coffeeclub_project/django_eav"]
	path = coffeeclub_project/django_eav
	url = git://github.com/unicefuganda/django-eav.git
[submodule "coffeeclub_project/coffeeclubapp/static/stylesheets/bootstrap"]
	path = coffeeclub_project/coffeeclubapp/static/stylesheets/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "coffeeclub_project/rapidsms_xforms_src"]
	path = coffeeclub_project/rapidsms_xforms_src
	url = git://github.com/unicefuganda/rapidsms-xforms.git
