
<!--customer-->
<td><a href="/customers/{{ object.pk }}/view/">{{ object.name }}</a></td>
<!-- extension-->
<td>{{ object.extension }}</td>
<!-- location -->
<td>{{ object.groups.0 }},{{ object.groups.0.floor }}</td>
<!-- standard drink -->
<td>{{ object.preferences.standard_drink }}</td>
<!-- milk type -->
<td>{{ object.preferences.milk_type }}</td>
<!-- running order -->
<td>{{ object.preferences.running_order }}</td>
<!-- Which days per week on call? -->
<td>{{ object.prefreences.days_on_call }}</td>
<!-- does customer own a cup?-->
<td>{{ object.preferences.own_cup }}</td>
<!-- are there any extra notes -->
<td>{{ object.preferences.notes }}</td>
<!-- What is customer's current balance?-->
<td>{{ object.account.balance }}</td>
