<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

    <title>Coffee Club | {% block page_title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/static/coffeeclubapp/stylesheets/coffeeapp.css">
<link rel="stylesheet" type="text/css" href="/static/coffeeclubapp/stylesheets/bootstrap/bootstrap-1.2.0.min.css">
</head>
<body>
<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>