{%  extends 'layout.html' %}
{%  block content %}
    <div class="row">
    <div class="page-header">
        <h1>Customer Profile</h1>
    </div>
    <table>
        <tr>
            <th>Ext.</th>
            <th>Name</th>
            <th>Location</th>
            <th>Standard Drink</th>
            <th>Milk Type</th>
            <th>Running Order</th>
            <th>Which days per week</th>
            <th>Own cup?</th>
            <th>Other notes</th>
        </tr>
        <tr>
            <td>{{ customer.extension }}</td>
            <td>{{ customer.name }}</td>
            <td>2nd</td>
            <td>{{ customer.preferences.standard_drink }}</td>
            <td>{{ customer.preferences.milk_type_choices }}</td>
            <td>{{ customer.preferences. }}</td>
            <td>on call</td>
            <td>No</td>
            <td>no choc on top</td>
        </tr>
    </table>
    </div>
    <div class="row">
    <div class="page-header">
        <h1>Accounting</h1>
    </div>
    <table>
    <tr>
        <th>Type of Payment</th>
        <th>Date of Payment</th>
        <th>Amount (UGX)</th>
        <th>Cup1</th>
        <th>Cup2</th>
        <th>Cup3</th>
        <th>Cup4</th>
        <th>Refill Card given?</th>
    </tr>
        
    </table>
    </div>
{%  endblock %}