{%  extends 'layout.html' %}
{%  block content %}
    <div class="row">
    <div class="page-header">
        <h1>Customer Profile</h1>
    </div>
    <table>
        <tr>
            <th>Ext.</th>
            <th>Name</th>
            <th>Location</th>
            <th>Standard Drink</th>
            <th>Milk Type</th>
            <th>Running Order</th>
            <th>Which days per week</th>
            <th>Own cup?</th>
            <th>Other notes</th>
        </tr>
        <tr>
            <td>{{ customer.extension }}</td>
            <td>{{ customer.name }}</td>
            <!-- TODO make groups.0 render some text, now this is not rendering.-->
            <td>{{ customer.groups.0 }}</td>
            <td>{{ customer.preferences.standard_drink }}</td>
            <td>{{ customer.preferences.milk_type }}</td>
            <td>{{ customer.preferences.running_order }}</td>
            <td>{{ customer.preferences.days_on_call }}</td>
            <td>{{ customer.preferences.own_cup }}</td>
            <td>{{ customer.preferences.notes }}</td>
        </tr>
    </table>
    </div>
    <div class="row">
        <a href="/customers/{{ customer.pk }}/edit"><button class="btn">Edit Profile</button></a>
    </div>
    <div class="row">
    <div class="page-header">
        <h1>Accounting</h1>
    </div>
        {% if coffee_order %}
        <table>
        <tr>
            <th>Date</th>
        <th>Amount (UGX)</th>
        <th>Cups</th>
        </tr>


        {% for order in coffee_order %}
            <tr>
              <td>{{ order.date|date:"M/d/y" }}</td>
            <td>{{ order.cost }}</td>
            <td>{{ order.num_cups }}</td>
            </tr>
        {% endfor %}

        </table>
        {% else %}
            <p class="orange">There are no orders yet</p>
        {% endif %}
    </div>
    
{%  endblock %}