{%  extends 'layout.html' %}
{%  block content %}
    <div class="row">
    <div class="page-header">
        <h1>Customer Profile</h1>
    </div>
    <table>
        <tr>
            <th>Ext.</th>
            <th>Name</th>
            <th>Location</th>
            <th>Standard Drink</th>
            <th>Milk Type</th>
            <th>Running Order</th>
            <th>Which days per week</th>
            <th>Own cup?</th>
            <th>Other notes</th>
        </tr>
        <tr>
            <td>{{ customer.extension }}</td>
            <td>{{ customer.name }}</td>
            <!-- TODO make groups.0 render some text, now this is not rendering.-->
            <td>{{ customer.groups.0 }}</td>
            <td>{{ customer.preferences.standard_drink }}</td>
            <td>{{ customer.preferences.milk_type }}</td>
            <td>{{ customer.preferences.days_on_call }}</td>
            <td>{{ customer.preferences.own_cup }}</td>
            <td>{{ customer.preferences.notes }}</td>
        </tr>
    </table>
    </div>
    <div class="row">
    <div class="page-header">
        <h1>Accounting</h1>
    </div>
        {% if coffee_order %}
        <table>
        <tr>
        <th>Type of Payment</th>
        <th>Date of Payment</th>
        <th>Amount (UGX)</th>
        <th>Cup1</th>
        <th>Cup2</th>
        <th>Cup3</th>
        <th>Cup4</th>
        <th>Refill Card given?</th>
        </tr>

        <tr>
            <td>
                {{ coffee_order }}
            </td>
        </tr>
        </table>
        {% else %}
            <p class="orange">There are no orders yet</p>
        {% endif %}
    </div>


    <div class="row">
        <div class="header">
            <h3>Printing</h3>
        </div>
        <div>
            <a href=""><button class="btn">Print Customer Profile</button> </a>
        </div>
    </div>
    
{%  endblock %}