{% extends "layout.html" %}

{% block page_title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span7 columns">
            <div class="page-header">
                <h2>Daily Coffee Order</h2>
            </div>
<table border="0" class="form">
			<tr>
                <td></td>
                <td>{{ order_form.non_field_errors }}</td>
            </tr>
            <form action="/" method="Post" class="form-stacked">
                {{ order_form.as_table}}
                </br>
            <tr>
                <td></td>
                <td><input type="submit" class="btn primary" value="Save Order"></td>
            </tr>
            </form>
</table>
        </div>
        <div class="span7 columns offset2">
            <div class="page-header">
                <h2>Reports</h2>

                <div class="row">
                   <div class="header">
                       <h3>Manage customer excel sheets</h3>
                   </div>
                    
                    <div>
                    <a href="/customers/upload/"><button class="btn">Import Customers From Excel</button></a>

                     </span><a style="margin-top:60px;" href="/customers/export/"><button class="btn">Export Customers
                    To
                         Excel</button></a>
                    </div>
                    
                </div>
                
                
            </div>


            <div class="page-header">
                <h2>Coffee Club Management</h2>
            </div>
            <a href="management/"><button class="btn">Management</button></a>
        </div>
    </div>
{% endblock %}