{% extends "layout.html" %}

{% block page_title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span7 columns">
            <div class="page-header">
                <h2>Daily Coffee Order</h2>
            </div>
<table border="0" class="form">
            <form action="/" method="Post" class="form-stacked">
                {{ order_form.as_table}}
                </br>
            <tr>
                <td></td>
                <td><input type="submit" class="btn primary" value="Save Order"></td>
            </tr>
            </form>
</table>
        </div>
        <div class="span7 columns offset2">


            <div class="page-header">
                <h2>Coffee Orders</h2>
                <table class="zebra-striped">
    <thead>
<tr><th>Name</th><th>Drink</th><th>#Cups</th></th><th>location</th></tr>
    </thead>
{% for order in orders %}
<tr><td>{{ order.customer.name }}</td>
    {% if not order.coffee_name %}

    <td>{{ order.customer.preferences.standard_drink }}</td>
    {% else %}
     <td>{{ order.coffee_name }}</td>
    {% endif %}
    <td>{{ order.num_cups}}</td>

    </td>
<td>{{ order.customer.groups.all.0.name }}</td>
</tr>

    {% endfor %}
</table>
            </div>
            <a href="management/"><button class="btn">Management</button></a>
        </div>
    </div>
{% endblock %}