{% load email_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}coffeeclubapp/stylesheets/bootstrap/bootstrap-1.2.0.min.css">
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}coffeeclubapp/stylesheets/coffeeapp.css">
    <title>Coffee club newsletter {% block news_letter_date %}{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    {% block content %}
        <div class="letter_body">
    <!-- Anna can override the default salutation -->
    {% block salutation %}
    Hi {{ customer.name }}
    {% endblock %}
    <br/>
    <div class="newsletter_message">
    <p>{% block message %}{% endblock %}</p>
    <br/>
    <address>
        {{ name_of_sender }}<br/>
        <pre>{{ address_of_sender }}</pre>
    </address>
    </div>
    </div>
    {% endblock %}
</div>
</body>
</html>